.Home-title-main{
    background-color: #5d17ea6d;
    width: 300px;
    border-radius: 50px 10px 50px 10px;
}
.Home-notes-main{
    flex-wrap: wrap;
}


@media screen and (max-width: 768px){
    .Home-sub-header{
        flex-direction: column !important;
    gap:10px

    }
    .Home-main-component{
        justify-content: center !important;
        align-items: center !important;
    }
}