
.Button-main-class{
    background-color: #5d17ea;
    color: white;
    font-family: Dosis-Bold;
    border-radius: 5px;
    width: 120px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button-main-class:hover{
    background-color: white;
    color: #5d17ea;
    border: 1px solid #fa9908;
    transition: 0.5s ease-out;
    cursor: pointer;
}